<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-5 mb-lg-0">
				<div class="row mb-5">
					<div class="col-12">
						<h3 class="footer-heading mb-4">À Propos</h3>
						<p>Petit Yogi c'est une application web et mobile, ludique, pour pratiquer le Yoga avec toute la famille</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4"></div>
			<div class="col-lg-4 mb-5 mb-lg-0">

				<div class="mb-5">
					<h3 class="footer-heading mb-2">Recevoir la Newsletter</h3>
					<p>Des mots doux et des surprises chaque mois, dans votre boite mail</p>

					<form action="#" method="post" class="form-subscribe">
						<div class="input-group mb-3">
							<input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter Email" aria-label="Votre Email" aria-describedby="button-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button" id="button-addon2">Envoyer</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
		<div class="row pt-5 mt-5 text-center">
			<div class="col-md-12">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>
						document.write(new Date().getFullYear());
					</script>
					Tous droits réservés | Ce template provient de
					<a href="https://colorlib.com" target="_blank">Colorlib</a>
					et modifié avec
					<i class="icon-heart text-danger" aria-hidden="true"></i>
					par
					<a href="#" target="_blank">Mathilde Moreau</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>

		</div>
	</div>
</footer>
